@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Baskerville&family=Michroma&family=Noto+Sans+HK:wght@300&family=Noto+Serif&family=Open+Sans:wght@300&display=swap');
*{
font-family:'Open Sans', sans-serif;

}

.sideAds{
    
float: left;
width: 30%;


}
        /*             ----------------------------           */



/*--------------------------------------------------*/
/*-----------Books------Movies------Music-----------*/
/*--------------------------------------------------*/




*{
    margin: 0;
    padding: 0;

}

.filter{
    padding: 15px 0 0 25px;
    width: 14%;
    height: 125%;
    border: 4px solid #4E505D;
    background-color: #e2e2e2;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    float: left;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin: 0 0 0 20px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:35px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.choices{
    padding: 5px;
}

.choicesLanguage{
    padding: 5px;
}


.choices a{
    margin: 15px 45px 0 38px;
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.choices a.visited{
    color: red;
    margin: 15px 45px 0 28px;
     
 }

 .choices2 a{
    margin: 15px 45px 0 38px;
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.choices2 a.visited{
    color: red;
    margin: 15px 45px 0 28px;
 }

.choices h3{
    border-top: #4E505D 2px solid;
    width: 257px;
    margin: 0 0 0 -35px;
    padding: 0 0 0 30px;
font-size: 24px;
font-weight: bolder;
}

.choices2 h3{
    
    width: 257px;
    margin: 0 0 0 -35px;
    padding: 0 0 0 30px;
font-size: 24px;
font-weight: bolder;
}

.choices a:hover{
    margin: 15px 45px 0 28px;
    text-decoration: none;
    color: red;
}


.choices2 a:hover{
    margin: 15px 45px 0 28px;
    text-decoration: none;
    color: red;
}


.reset a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 24px;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    font-weight: bolder;
}

.reset a:hover{
    color: white;
    border: 1px solid #f44336;
    background-color: #f44336;
}




.filterDiv {
    margin: 200px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
      margin: -200px 0 0 10px;
      width: 100%;
    display: block;
  }

/*---------------------------------------------------------------*/

.books {
    display: flex;
    flex-wrap: wrap;
    width: 83%;
    float: right;
}
  
.book {
    width: 29%;
    display: flex;
    background-color: rgb(255, 255, 251);
    margin: 1%;
    padding: 10px;
    border: 2px solid #4E505Ded;;
}
  
.productImg {
    width: 50%;
    height: auto;
    object-fit: cover;
}
  
.info {
    width: 50%;
    padding-left: 3%;
}

.info h4{
    color: black;
    font-size: 140%;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    object-fit: scale-down;
}

.author{
    color: black;
    text-align: center;
    font-size: 110%;
    font-style: italic;
}
  
.description {
    max-height: 200px;
    text-overflow: ellipsis;
    content: "";
    background: -webkit-linear-gradient(#000, rgb(228, 228, 228));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}


.price{
    margin-top: 3%;
    display: inline-block;
    color: red;
    font-weight: 900;
    font-size: 140%;
    vertical-align: bottom;
}

.inStock{
    color: green;
    text-align: left;
    font-weight: bold;
    font-size: 110%;
    vertical-align: bottom;
}

.outOfStock{
    color: rgb(255, 8, 8);
    text-align: left;
    font-weight: bold;
    font-size: 110%;
    vertical-align: bottom;
}

.upperProductInfo {
    height: 80%;
}

.upperProductInfo a{
    text-decoration: none;
}
/*------------------------------------*/



html, body {
    overflow-x: hidden;
}
