@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Baskerville&family=Michroma&family=Noto+Sans+HK:wght@300&family=Noto+Serif&family=Open+Sans:wght@300&display=swap');
*{
font-family:'Open Sans', sans-serif;

}


/*--------------------------*/
/*-----------Cart-----------*/
/*--------------------------*/

.cart{
    background-image: linear-gradient(rgba(0, 0, 0, 0.308), rgba(26, 38, 146, 0.411)), url(images/cartUpg1.webp);
    background-repeat: repeat;
    width: 2400px;
    height: 1080px;
    max-height: max-content;
}


 .cartBox{
   background-color: rgba(221, 221, 221, 0.774); 
   border-radius: 30px;
   width: 1200px;
   height: 690px;
   text-align: center;
   margin: 20px 0 0 460px;
   border: none;
 }


.cartMsg h2 {
    margin: 70px 0 20px 0;
 }
.cartBox h2{
    margin: 70px 0 20px 0;
    padding: 15px 0 10px;
    font-size: 27px;
    border-bottom: rgb(0, 0, 0) solid 2px;
}

.cartBox h4{
    margin: 400px 0 0 15px;
    width: 97%;
   
    padding: 0 0 45px;
    border-top: rgb(0, 0, 0) solid 2px;
}

.cartBox h3{
    
    margin: -20px 0 0 -900px;
    font-size: 23px;
}

.bottom{
    margin: -170px;
}

 .browseBtn{
    text-align: left;
    display: table-cell;
    padding: 0 50px 0 430px;
    margin: -90px;
    
} 

.browseBtn a{
    margin: 200px;
    margin-left: -200px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.678);
    position: relative;
    cursor: pointer;
    font-weight: bold;
}

.browseBtn a:hover{
    border: solid 1px blue;
    margin-right: 200px;
    background: blue;
    color: white;
}

.comment p{
    margin: -170px 0 0 -600px;
    font-style: italic;
}


/*----------------------------*/








  
/*----------------------------*/
/*----------Side Ads----------*/
/*----------------------------*/

.sideAds{
    
float: left;
width: 30%;
}
        /*             ----------------------------           */
.products{
    float: right;
    width: 70%;
    margin-bottom: 50px;
} 
/*
.christmasAd{
    padding: 0 0 15px;
    margin: 50px 185px 20px 40px;
    background-color: #4E505D;
    position: relative;
    color: white;
    
}

.christmasAd:hover{
    background-color: #5f6272;
    border-bottom: orange 7px solid;
    padding: 0 0 8px;
    transition: 0.2s;
}


.christmasAd img{
    width: 325px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 5px;
    
}

.christmasAd a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    text-align: center;
    padding-left: 18px;
}

.center{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 21px;
    margin: -90px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.anniversary{
    padding: 0 0 15px;
    margin: 40px 185px 20px 40px;
    background-color: #4E505D;
    position: relative;
    color: white;
}

.anniversary:hover{
    background-color: #5f6272;
    border-bottom: orange 7px solid;
    padding: 0 0 8px;
    transition: 0.2s;
}

.anniversary img{
    width: 325px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 5px;
    
}

.anniversary a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    padding-left: 65px;
    text-align: center;
}

.freeShiping img{
    position: absolute;
    margin: -234px 0 0 4.4px;
    width: 140px;
}

.visitUs{
    padding: 0 0 15px;
    margin: 40px 185px 20px 40px;
    background-color: #4E505D;
    position: relative;
    color: white;
}

.visitUs:hover{
    background-color: #5f6272;
    border-bottom: orange 7px solid;
    padding: 0 0 8px;
    transition: 0.2s;
}

.visitUs img{
    width: 325px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 5px;
}

.visitUs a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    text-align: center;
    padding-left: 18px;
}

.center1{
    text-decoration: none;
    color: blue;
    background-color: rgba(255, 166, 0, 0.123);
    text-align: center;
    font-size: 21px;
    margin: -90px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

/*----------------------------*/

/*
.bestSellers{
    
    margin: 35px 0 0 -120px;
    width: 100%;
    
}

.bestSellers h2{
    margin-left: 48px;
}

.bestSellers a{
    margin-left: 58px;

}
*/
/*.box{
    
}*/
/*
.column a{
    margin: 20px 21.8px 0 50px;
    width: 11%;
    float: left;
    text-decoration: none;
    
}



.column img{
 width: 115%;
 
}

.title{
    
    color: black;
    font-size: large;
    text-align: center;
    font-weight: bold;
    margin-left: 20px;
}

.author{
    color: black;
    text-align: center;
    margin: -20px 0 6px 20px;
}
.bookPrice{
    
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin-left: 20px;
}


.newReleases{
    border-top: 5px solid #4E505Ded;
    
    margin: 395px 0 0 -120px;
    width: 100%;
}

.newReleases h2{
    margin: 30px 0 0 48px;
}

.newReleases a{
    margin-left: 65px;

}

.column1 a{
    
    width: 11%;
    float: left;
    margin : 20px 21.8px 0 50px;

    text-decoration: none;
    
}

.column1 img{
 width: 116%;
 
}


.upcomingReleases{
    border-top: 5px solid #4E505Ded;

    margin: 420px 0 0 0;
    width: 100%;
}

.upcomingReleases h2{
    margin: 30px 0 0 48px;
    
}

.upcomingReleases a{
    margin: 0 0 0 65px;
}

.column2 a{
    
    width: 11%;
    float: left;
    margin : 20px 21.8px 0 50px;

    text-decoration: none;
    
}

.column2 img{
 width: 115%;
 
}
*/



/*--------------------------------------------------*/
/*-----------Books------Movies------Music-----------*/
/*--------------------------------------------------*/

*{
    margin: 0;
    padding: 0;

}
/*
.filter{

background-color: rgb(214, 214, 214);
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate h3{
    margin: 0 -5px;
    font-weight: bolder;
    font-size: 22px;
}

.filter{
    padding: 15px 0 5px 25px;
    max-width: 194px;
    height: 820px;
    border: 4px solid #4E505D;
    
}

.choices{
    padding: 5px;
}

.choicesLanguage{
    padding: 5px;
}


.choices a{
    margin: 15px 45px 0 18px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
    
}

.choices h3{
font-size: 22px;
font-weight: bolder;
}


.choices a:hover{
    margin: 15px 45px 0 18px;
    text-decoration: none;
    color: red;
   
  
}


.reset a{
    margin: 20px 0 0 15px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 24px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-weight: bolder;
}

.reset a:hover{
    color: white;
    border: 1px solid #f44336;
    background-color: #f44336;
}

.products{
   
}
*/

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}
