@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Baskerville&family=Michroma&family=Noto+Sans+HK:wght@300&family=Noto+Serif&family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
*{
font-family:'Open Sans', sans-serif;

}

.header{
   background-color: rgb(250, 0, 0);   
   list-style-type: none;
   color: white;
   display: table;
   width: 100%; /*Optional*/
   height: 16%;
   table-layout: fixed; /*Optional*/
   background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/book-hand-draw-sketch-background-pattern-retro-style-web-design_287964-539.jpg);
   background-position: top;
   background-size: 10%; 
   border-bottom: rgb(250, 0, 0) solid 5px;
}

.header1 {
    /*background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/book-hand-draw-sketch-background-pattern-retro-style-web-design_287964-539.jpg);
  */  
    height: 45%;
    background-position: top;
   background-size: 10%; 
   text-decoration: none;
   color: white;
   background-color: red;
   padding-bottom: 2px;
   display: flex;
  
  
}

.header1 img{             /*Tolkien logo*/
    position: absolute;
    width: 79px;
    max-width: 35%;
    padding: 0.1% 0.2% 0.2%;
    margin-left: 8%;
    background-color: red;
    border-radius: 90%;
}

.upperLeft{
    
    text-align: left;
    margin-top: auto;   
    margin-bottom: auto; 
    margin-left: 16%;
    display: inline;
} 

.home i{
    padding: 4px 4px 4px 4px;
    color: black;
    transition: 0.3s;
    border-radius: 20%;
    background-color: white;
    cursor: pointer;
}

.upperLeft a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 130%;
    cursor: pointer
}

.upperLeft a:hover
{
    background-color: white;
    color: black;
    border-radius: 4px;    
    padding: 0 2px;
    transition: 0.3s;
    margin: 0 -2px;
   
}

.home i:hover{
    padding: 4px 4px 4px 4px;
    color: black;
    transition: 0.3s;
    border-radius: 20%;
    background-color: white;
    cursor: pointer;
}

.upperLeft a.active{
    color: black;
    background-color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 120%;
    padding: 0 2px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 -2px;
}

.upperRight a.active{
    color: black;
    background-color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 125%;
    padding: 0 2px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 -2px;
}

.webName {
    cursor: default;
    text-align: center;
    display: inline;
    margin: auto;
    font-size: 145%;
    
}

.webName h1{
    font-family: 'Babylonica', cursive;
}


.upperRight{
    
    margin-top: auto;   
    margin-bottom: auto; 
    margin-right: 16%;
    text-align: right;
    display: inline;
}

.upperRight a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 130%;
    cursor: pointer;
    width: auto;
    margin-right: 0;
}

.upperRight a:hover
{
    color: black;
    background-color: white;
    border-radius: 4px;    
    transition: 0.3s;
    padding: 0 2px;
    margin: 0 -2px;
}

.upperRight i{
    color: white;
    padding: 4px 4px 4px 4px;
    transition: 0.3s;
    border-radius:20%;
    cursor: pointer;
}

.upperRight i:hover{
    color: black;
    
    transition: 0.3s;
    border-radius:20%;
    cursor: pointer;
}

.upperRight i.active{
    color: green;
    
    transition: 0.3s;
    border-radius:20%;
    cursor: pointer;
}



.header2{
    height: 55%;
    display: flex;
}

.search {
    margin-left: -10%;
    flex: 1;
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 150%;
}
  
.search input {
    flex: 1;
    height: 60%;
    width: 400px;
    font-size: 80%;
    padding-left: 1%;
}
  
.search button {
    margin-top: auto;
    margin-bottom: auto;
    width: 98px;
    height: 60%;
    font-size: 80%;
    padding: 0 2%;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}
  
.search button:hover {
    border: 1px solid #ff1100;
    background: #ff1100;
    transition: 0.3s;
}


.bottomLeft{
    width: 20%;
    text-align: left;
    flex: 1;
    margin-top: auto;   
    margin-bottom: auto; 
    margin-left: 14%;
} 

.bottomLeft a{
    margin-left: 3%;
    display: inline;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 1.5% 3%;
    font-size: 130%;
    background: transparent;
    position: relative;
    cursor: pointer;
}


.bottomLeft a:hover{
    border: 1px solid #ff1100;
    background: #ff1100;
    transition: 0.3s;
}

.bottomRight a.active{
    border: 1px solid #ff1100;
    background: #ff1100;
}

.bottomLeft a.active{
    border: 1px solid #ff1100;
    background: #ff1100;
}


.bottomRight{
    margin-top: auto;   
    margin-bottom: auto; 
    margin-right: 15%;
    width: 10%;
    text-align: right;
    display: inline;
    margin-left: -1%;
}

.bottomRight a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 6% 9%;
    font-size: 130%;
    
    background: transparent;
    position: relative;
    cursor: pointer;
    
}

.bottomRight a:hover{
    border: 1px solid #ff1100;
    background: #ff1100;
    transition: 0.3s;
}

*{
    margin: 0;
    padding: 0;
    
}

body{
    text-decoration: none;
}

