@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Baskerville&family=Michroma&family=Noto+Sans+HK:wght@300&family=Noto+Serif&family=Open+Sans:wght@300&display=swap');
*{
font-family:'Open Sans', sans-serif;

}


/*-------------------------------*/
/*------------Help---------------*/
/*-------------------------------*/ 


.help{
    background-image: linear-gradient(rgba(224, 41, 41, 0.7), rgba(69, 94, 194, 0.7)), url(images/zyro-image.png);
    
    position: absolute;
    background-repeat: repeat;
    width: 100%;
    background-size: 100%;
    
  height: auto;
}


.help1{
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 80px;
    border: none;
    padding: 20px 0 50px;
    margin: 30px 0 0 100px;
    width: 60%;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.help1 h2{
    font-size: 220%;
    color: white;
}

.collapsible {
    background-color: #4E505D;
    color: white;
    cursor: pointer;
    padding: 21px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin: 5px;
  }
  
  .active, .collapsible:hover {
    margin: 5px 0 5px 10px;
  }
  
  .content {
      width: 78%;
      border-radius: 5px;
      margin:  0 30px 10px 160px;
      padding: 5px 5px 5px 5px;
    display: none;
    overflow: hidden;
    text-align: left;
    background-color: #ffffffd0;
  }

/*-------------------------------*/

body {
    overflow-x: hidden;
}