@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Baskerville&family=Michroma&family=Noto+Sans+HK:wght@300&family=Noto+Serif&family=Open+Sans:wght@300&display=swap');
*{
font-family:'Open Sans', sans-serif;

}

*{
    margin: 0;
    padding: 0;

}

.filter{
    padding: 15px 0 0 5px;
    width: 15%;
    max-width: 65%;
    height: 1200px;
    max-height: 200%;
    border: 4px solid #5d4e4e;
    background-color: #f4f4f4;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.priceRange{
    padding: 1%;
    margin-left: 5%;
    margin-bottom: 3%;
    font-size: 100%;
    width: 50%;
}

.choices{
    padding: 5px;
    border-top: #4E505D 2px solid;
    width: 355px;
    max-width: 60%;

}

.choices label{
    margin-left: 10%;
    text-decoration: none;
    color: black;
    font-size: 110%;
    font-weight: 600;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    margin-bottom: -15px;
}

.choices label:hover{
    text-decoration: none;
    color: red;
}

.choices h3{
    padding: 0 0 0 10px;
    font-size: 160%;
    font-weight: bolder;
}

.btn {
    margin-top: 10%;
    width: 63.7%;
    border-top: #4E505D 2px solid;
    text-align: center;
}

.btn button{
    margin-top: 5%;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 24px;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    font-weight: bolder;
}

.btn button:hover{
    color: white;
    border: 1px solid #ff1100;
    background-color: #ff1100;
}

.btnReset {
    margin-top: 3%;
    width: 63.7%;
    text-align: center;
}

.btnReset button{
    margin-top: 5%;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 24px;
    font-size: 20px;
    background: rgb(215, 215, 215);
    cursor: pointer;
    font-weight: bolder;
}

.btnReset button:hover{
    color: white;
    border: 1px solid #0051ff;
    background-color: #0051ff;
}


/*-------------------------------------------------*/


.albums {
    display: flex;
    flex-wrap: wrap;
}
  
.album {
    width: 23%; /* adjust the width to fit 5 columns */
    text-align: center;
    padding: 1%;
    padding-top: 2%;
    
}

.productImg {
    width: 90%;
    height: auto;
}
  
.album h3 {
    margin-top: 1%;
    font-size: 130%;
}
  
.album h4 {
    font-size: 120%;
    font-style: italic;
}

.album p {
    color: red;
    font-weight: 900;
    font-size: 140%;
    margin-bottom: 1%;
}



body {
    overflow-x: hidden;
}
