@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Baskerville&family=Michroma&family=Noto+Sans+HK:wght@300&family=Noto+Serif&family=Open+Sans:wght@300&display=swap');
*{
font-family:'Open Sans', sans-serif;

}


/*------------------------------------*/
/*-------------Music Page-------------*/
/*------------------------------------*/



.musicPage{
    background-image: linear-gradient(rgba(255, 0, 0, 0.3), rgba(4, 0, 255, 0.2)), url(images/musicPattern3.jpg);
    background-size: 810px;
    height: 1000px;
    background-repeat: repeat; 
    
}




/*-----musicBox0-----*/

.musicBox0{
    background-color: white;
    width: 65%;
    height: auto;
    padding: 20px;
    margin: 20px 0 10px 90px;
    border: solid 2px #4E505Ded;
    text-align: left;
    float: left;
}

.box0_upperLeft img {
    width: 35%;
    float: left;
    height: fit-content;
    max-height: 100%;
    margin-top: 0;
}

.box0_upperRight {
    width: 62%;
    float: right;
    
}

.box0_bottomLeft {
    width: 40%;
    float: left;
}

.box0_bottomRight {
    width: 60%;
    float: right;
}



.box0_upperRight h2{
    padding-bottom: 5px;
  font-size: 170%;
  margin-bottom: 10px;
  border-bottom: solid rgb(185, 185, 185) 1px;
}


.author{
    line-height: 25px;
    display: inline-block;
    font-weight: bold;
    padding: 0 0 5px;
    font-size: 110%;
    
}

.author1{
 display: inline-block;
 font-size: 110%;
}

.left {
    width: 45%;
    float: left;
    border-bottom: solid rgb(185, 185, 185) 1px;
}
.right {
    margin-left: 1%;
    width: 54%;
    float: right;
}

.right img {
    width: 100%;
}


.member{
    margin-bottom: 3%;
    display: inline-block;
    font-weight: bold;
    margin-left: 5%;
    font-size: 110%;
}

.role{
    margin-left: 2%;
    display: inline-block;
    font-size: 110%;
}


.space p{
    padding: 1px 0 2px;
}

.tracklist {
    max-height: 35%;
    overflow-y: scroll;
}

.tracksLabel {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    border-bottom: solid rgb(185, 185, 185) 1px;
    width: 80%;
    font-size: 110%;
}

.track {
    
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 2%;
   border-bottom: solid rgb(185, 185, 185) 1px;
   width: 80%;
   font-size: 110%;
}

.songNumber {
   width: 20px;
}

.songName {
   flex-grow: 1;
   text-align: left;
   margin-left: 6%;
}

.songLength {
   width: 50px;
   text-align: right;
}

/*-----musicBox1-----*/

.musicBox1{
    background-color: white;
    width: 20.2%;
    height: 0;
    display: inline-block;
    margin: 20px 10px;
    position: absolute;
    border: solid 2px #4E505Ded;
}

.textMoney{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: rgb(185, 185, 185) solid 1px;
}

.textMoney h2{
    color: rgb(0, 0, 0);
    font-size: 250%;
    margin: 7%;
    flex: 1;
}

.inStock{
    color: green;
    font-weight: bold;
    text-align: left;
    font-size: 150%;
    flex: 1;
    margin-left: -15%;
}

.outOfStock{
    color: rgb(255, 8, 8);
    text-align: left;
    font-weight: bold;
    font-size: 150%;
    flex: 1;
    margin-left: -10%;
}

.textBot p{
    margin: 2%;
}



.musicBtn{
    text-align: center;
    margin-top: 30%;
} 

.musicBtn button{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-weight: bolder;
    border-radius: 5px;
    padding: 18px 96px;
    font-size: 18px;
    cursor: pointer;
}


.musicBtn button:hover{
    border: 1px solid blue;
    color: white;
    background: blue;
    transition: 0.3s;
}

.musicBtn1{
    text-align: center;
    margin-bottom: 5%;
} 

.musicBtn1 a{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: rgb(204, 204, 204);
    font-weight: bolder;
    border-radius: 5px;
    padding: 18px 83px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 40px;
}


.musicBtn1 a:hover{
    border: 1px solid red;
    color: white;
    background: red;
    transition: 0.3s;
}


/*-----musicBox2-----*/
.musicBox2{
    margin: 0 0 0 90px;
    border: solid 2px #4E505Ded;    
    background-color: white;
    width: 88.5%;
    float: left;
}

.musicBox2 h2{
    margin: 10px;
    border-bottom: rgb(185, 185, 185) solid 1px;
}

.textDesc0{
    display: inline-block;
    width: 30%;
    margin: 0 0 10px 15px;
}

.textDesc1{
    display: inline-block;
    width: 30%;

}

.details {
    line-height: 25px;
    display: inline-block;
    font-weight: bold;
    padding: 2px;
}

.details1 {
    display: inline-block;
}


*{
    margin: 0;
    padding: 0;

}

.body {
    overflow-x: hidden;
    overflow-y: hidden;
}