@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Baskerville&family=Michroma&family=Noto+Sans+HK:wght@300&family=Noto+Serif&family=Open+Sans:wght@300&display=swap');
*{
font-family:'Open Sans', sans-serif;

}


.sideAdsProducts {
    width: 100%;
    display: flex;
}

.php{
    margin-top: 5%;
    float: left;
    width: 330px;
    padding-left: 1%;
    
}


.php h2{
    margin-top: 2px;
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
    font-size: 200%;
    color: black;
    margin-bottom: 0;
    text-align:center;
    border-bottom: #2b2d45 solid 2px;   
}


.products{
    float: right;
    width: 1150px;
    margin-left: 1%;
    margin-bottom: 50px;
    
    
}

.christmasAd, .anniversary, .visitUs{
    padding: 4% 0 3%;
    background-color: #434552;
    color: white;
    margin-top: 5%;
    margin-bottom: 15%;
    border-bottom: 5px solid white;
    
}

.christmasAd:hover, .anniversary:hover, .visitUs:hover{
    background-color: #2b2d45;
    border-bottom: rgb(205, 133, 0) 12px solid;
    transition: 0.2s;
    padding: 4% 0 1.4%;
}


.christmasAd img, .anniversary img, .visitUs img{
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 5px;
    
}

.christmasAd h3, .visitUs h3, .anniversary h3{
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
    font-size: 160%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 2%;
    text-align:center;
}

.christmasAd p, .anniversary p, .visitUs p{
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
    font-size: 100%;
    color: white;
    padding: 1.5%;
    text-align: center;
}

* {
    text-decoration: none;
}

/*------------------------------*/
/*----------PRODUCTS------------*/
/*------------------------------*/

.bestSellers, .newReleases, .upcomingReleases{
    margin: 3% 0 2% 2%;
    padding-bottom: 3%;
    width: auto;

    border-bottom: 5px solid #4E505Ded;
}

.bestSellers h2, .newReleases h2, .upcomingReleases h2{
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    margin-left: 2%;
    font-size: 250%;
    margin-bottom: 0.5%;
}

.bestSellers a, .newReleases a, .upcomingReleases a{
    font-family: 'Libre Baskerville', serif;
    color: black;
    text-decoration: none;
    margin-left: 4%;
    font-size: 140%;
}

.bestSellers a:hover, .newReleases a:hover, .upcomingReleases a:hover{
   
    color: red;
    
}

.box{
    background-color: rgb(255, 255, 255);
    border: #4E505Ded solid 2px;
    display: flex;
    width: 100%;
}

.column a{
    margin: 5px 0 10px;
    width: 60%;
    text-decoration: none;
   text-align: center;
    
}


.column img{
    margin: 10px;
 width: 90%;
 height: auto;
 max-height: 400px;
}

.title{
    
    color: black;
    font-size: 110%;
    text-align: center;
    font-weight: bold;
    width: 250px;
    margin-left: 5%;
}

.author{
    color: black;
    text-align: center;
    font-size: 90%;
    font-style: italic;
    margin-top: -8%;
   
}
.bookPrice{
    margin-top: 2%;
    margin-left: 3%;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
}

.column img:hover{
    width: 95%;
    transition: 0.3s;
}
